VITE_CELO_BLOOM_ADDRESS=0xYourDeployedContract
VITE_CELO_RPC_URL=https://forno.celo.org

ALFAJORES_RPC_URL=https://alfajores-forno.celo-testnet.org
CELO_RPC_URL=https://forno.celo.org
DEPLOYER_KEY=0xYourPrivateKey
CUSD_ADDRESS=0xYourcUSDToken
REWARD_AMOUNT=1000000000000000
CELO_BLOOM_ADDRESS=0xYourDeployedContract
SUNLIGHT_TO=0x000000000000000000000000000000000000dEaD
FUND_AMOUNT=5000000000000000
